{% if data|length == 0 %}
    <h4 id="events">Sorry, No events found!</h4>
{% else %}
    <h4 id="events">{{ data|length }} entries found!</h4>
{% endif %}
<!-- parse and add data -->
{% for event in data %}
    <!-- for larger screens  -->
    <div class="card shadow" id="large_screen">
        <div class="row g-3 align-items-start">
            <div class="col-6" id="left">
                <!-- image  -->
                <img src="{{ event.image }}" style="width: 500px; height: 300px;" alt="event">
            </div>
            <!-- column for the information-->
            <div class="col-3" id="center">
                <h2 class="venue">{{ event.venue }}</h2>
                <br>
                <h4 class ="name">{{ event.name }}</h4>
                <br>
                <h5>{{ event.address }}</h5>
                <h5>{{ event.city }}, {{ event.state }}</h5>
                <!-- buttons -->
                <a class="btn btn-primary" href="{{ event.url }}" target="_blank">
                    Find Ticket
                </a>
                <button class="btn btn-outline-danger" data-card-id="{{ searchCounter }}_{{ forloop.counter }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-heart-fill"
                         viewBox="0 0 16 16">
                        <!-- use path because some computers may not be able to run the heart icon -->
                        <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"></path>
                    </svg>
                </button>
            </div>
            <!-- right side column -->
            <div class="col-3" id="right">
                <h2 class ="date">{{ event.date }}</h2>
                <h4 class ="time">{{ event.time }}</h4>
            </div>
        </div>
    </div>
    <!-- for small screens  -->
    <div class="card shadow" id="small_screen">
    <!-- image  -->
        <img src="{{ event.image }}" style="width: 100%;" alt="event">
        <div class="row g-3 align-items-start">
            <!-- column for the information-->
            <div class="col-6" id="center">
                <br>
                <h2 class="venue">{{ event.venue }}</h2>
                <br>
                <h4 class="name">{{ event.name }}</h4>
                <br>
                <h5>{{ event.address }}</h5>
                <h5>{{ event.city }}, {{ event.state }}</h5>
                <!-- buttons -->
                <a class="btn btn-primary" href="{{ event.url }}" target="_blank">
                    Find Ticket
                </a>
                <button class="btn btn-outline-danger" data-card-id="{{ searchCounter }}_{{ forloop.counter }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-heart-fill"
                         viewBox="0 0 16 16">
                        <!-- use path because some computers may not be able to run the heart icon -->
                        <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"></path>
                    </svg>
                </button>
            </div>
            <!-- right side column -->
            <div class="col-6" id="right">
                <br>
                <h2 class = "date">{{ event.date }}</h2>
                <h4 class= "time">{{ event.time }}</h4>
            </div>
        </div>
    </div>
    <!-- for super-small screens  -->
    <div class="card shadow" id="super_small_screen">
    <!-- image  -->
        <img src="{{ event.image }}" style="width: 100%;" alt="event">
        <div class="row g-3 align-items-start">
            <!-- column for the information-->
            <div id="center">
                <br>
                <h2 class="venue">{{ event.venue }}</h2>
                <h4 class="name">{{ event.name }}</h4>
                <br>
                <h5>{{ event.address }}</h5>
                <h5>{{ event.city }}, {{ event.state }}</h5>
            </div>
            <!-- right side column -->
            <div id="right">
                <h2 class="date">{{ event.date }}</h2>
                <h4 class="time">{{ event.time }}</h4>
                <!-- buttons -->
                <a class="btn btn-primary" href="{{ event.url }}" target="_blank">
                    Find Ticket
                </a>
                <button class="btn btn-outline-danger" data-card-id="{{ searchCounter }}_{{ forloop.counter }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-heart-fill"
                         viewBox="0 0 16 16">
                        <!-- use path because some computers may not be able to run the heart icon -->
                        <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>


{% endfor %}
